@import "colors";

.about {
  //   height: 70vh;
  padding: 20px;
  text-align: center;
  h1 {
    padding-bottom: 50px;
    font-size: 49px;
    // color: $light;
    text-transform: uppercase;
    &::before {
      content: "";
      height: 5px;
      border-radius: 50px;
      background-color: blue;
      display: block;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      // margin-top: 10px;
    }
  }
  img {
    height: 500px;
    // width: 0px;
    margin-left: 70px;
    margin-right: 40px;
    margin-bottom: 10px;
    box-shadow: 15px 11px 10px 4px rgba(0, 0, 0, 0.3);

    &:first-child {
      margin-right: 70px;
      margin-left: 40px;
      box-shadow: -15px -11px 10px 4px rgba(0, 0, 0, 0.3);
    }
  }
  &__div {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 22px;
    padding-left: 30px;
    h2 {
      margin-bottom: 50px;
    }
  }
  &__button {
    font-size: 1rem;
    padding: 10px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    background-color: #f200ff;
    outline: none;
    a {
      position: relative;
      z-index: 1;
      text-decoration: none;
      color: $light;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $linear-color;
      transition: all 0.3s;
      border-radius: 4px;
    }
    &:hover a {
      color: $dark;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
