@import "colors";

header {
  background-image: url(../images/portfolio9.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  //   linear-gradient(
  //       120deg,
  //       rgba(0, 0, 0, 0.4),
  //       rgba(0, 0, 0, 0.4)
  //     ),
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container {
  text-align: center;
  h1 {
    background-image: $linear-color;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    text-transform: uppercase;
  }
  h2 {
    color: #f200ff;
    font-weight: 200;
    font-family: cursive;
  }
  h4 {
    color: $light;
  }
  p {
    margin: 20px auto;
    line-height: 25px;
    font-weight: 100px;
    font-size: 20px;
    color: $light;
    padding-right: 20px;
    padding-left: 20px;
  }
  button {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid rgb(0, 51, 255);
    background: transparent;
    color: $light;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    z-index: 100;

    span {
      background-image: linear-gradient(
        338deg,
        rgb(121, 0, 255) 20.64%,
        rgb(84, 140, 255) 77.7%
      );
      height: 100%;
      width: 0;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 0.5s;
    }
  }

  button:hover span {
    width: 100%;
  }

  button:hover {
    border: none;
  }
  .mouse_body {
    background-color: #f200ff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    font-size: 25px;
  }
  #mouse_body {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #f200ff;
    border-radius: 32px;
    margin-top: 50px !important;
    height: 53px;
    width: 33px;
    margin: 0 auto;
    transition: 1s;
    &:hover {
      transform: translateY(5px);
    }
  }

  #mouse_wheel {
    border-style: solid;
    border-width: 2px;
    border-color: $light;
    border-radius: 8px;
    position: relative;
    height: 3px;
    width: 3px;
    margin: 0 auto;
    animation: wheel_animation 1.5s linear infinite;
  }
  #mouse_body:hover #mouse_wheel {
    animation: wheel_animation 00.5s linear infinite;
  }
  @keyframes wheel_animation {
    0% {
      opacity: 0;
      top: 2px;
    }
    50% {
      opacity: 1;
      top: 50%;
    }
    100% {
      opacity: 0;
      top: 33px;
    }
  }
}
