@import "colors";
@import "media-queries";
@import "navbar";
@import "about";
@import "hero";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  #text {
    position: relative;
    background: linear-gradient(rgb(121, 0, 255), #1fae99);
    //   background: linear-gradient(0deg, , #ffae00, , #020a16);
    display: flex;
    justify-content: center;
    z-index: 3;
  }
  #text span {
    position: sticky;
    text-transform: uppercase;
    top: 0;
    line-height: 100vh;
    height: 100vh;
    color: $light;
    font-size: 3rem;
    margin-top: calc(50vh * var(--i));
    @include tablet {
        font-size: 2rem;
      }
    @include mobile {
        font-size: 2rem;
      }
  }
  .space {
    width: 15px;
  }
  .des__dowmload {
    cursor: pointer;
    a {
      text-decoration: none;
      color: green;
    }
  }
  footer {
    text-align: center;
  }
